.footer {
    margin: 0 auto;
    padding: 3px 30px;
    max-width: 600px;
    height: 60px;
    max-height: 60px;
    background-color: #fff;
    box-sizing: border-box;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;

    /* 푸터 고정 css */
    display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 550;
}

.footer a {
    text-decoration: none;
}

.footer div {
    text-align: center;
    padding: 0px 50px;
}

.footer div .icon_img {
    height: 33px;
}

.footer div .icon_name {
    margin: 0;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4);
}

.footer hr {
    border: 1.5px solid;
    color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}