.immediate_feedback_analyze {
    margin: 0;
    padding: 0;
    background-color: #EDF2FB;
}

.song_container {
    background-color: #9CB6E5; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.song_info_container {
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    justify-content:center;
}

.song_img img {
    width: 50px;
    height: 50px;
    border-radius:5px;
    
}

.song_name {
    margin-left:15px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.song_artist {
    font-weight:bold;
    font-size: 20px;
    margin-left:15px;
    margin-top:25px;
}

.song_lyrics_container{
    margin-left:25px;
    margin-bottom:25px;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.playbtn_container {
    margin-right: 30px;    
}

.stopbtn_container {
    margin-right: 30px;    
}

.btn_container img {
    width: 50px;
    height: 50px;
}

.feedback_container {
    margin-top:30px;
}

.feedback_title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
}

.feedback_message {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    max-width: 80%;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    height: 80px;
    line-height: 40px;
}

.feedback_analyze_score{
    background-color:#BFCFEC;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top:30px;
    height: 330px;
}

.feedback_score_title{
    display:flex;
    justify-content:center;
}

.feedback_score {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top:15px;
}

.feedback_score_number{
    font-size:40px;
    margin-left:10px;
    font-weight:bold;
}

.feedback_bar_container{
    display:flex;
    align-items:center;
    margin:30px 0;
}

.feedback_label {
    margin-left:20px;
    margin-right:10px;
    font-size: 20px;
    font-weight: bold;
  }

  .feedback_tune_bar, .feedback_beat_bar {
    border-radius:10px;
    flex-grow: 1; /* 남은 공간을 모두 차지하게 설정 */
    height: 50px; /* 막대의 높이 설정 */
    background-color:#fff;
    position: relative;
    max-width: calc(100% - 100px); /* 레이블 너비를 고려한 막대의 최대 너비 */
    transition: width 2s; /* 그래프의 부드러운 증가를 위한 애니메이션 */

  }
  
  .feedback_tune_bar::before, .feedback_beat_bar::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #76c7c0; /* 막대의 색상 */
    border-radius:10px;
    transition: width 2s; /* 그래프의 부드러운 증가를 위한 애니메이션 */
  }
  
  .feedback_tune_bar::before {
    width: calc(var(--value) * 1%);
  }
  
  .feedback_beat_bar::before {
    width: calc(var(--value) * 1%);
  }

.feedback_button{
    display:flex;
    font-size:30px;
    text-align:center;
    justify-content:center;
    gap:30px;
    margin-top:40px;
    line-height:50px;
}

.feedback_restartBtn{
    background-color:#fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 5px 6px 2px #cacaca;
    width:200px;
    height:50px;
}

.feedback_endBtn{
    background-color:#fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 5px 6px 2px #cacaca;
    width:200px;
    height:50px;
}



