.main {
  margin-bottom: 50px;
  padding: 40px 40px;
  padding-bottom: 50px;
  background: #eef2f2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.singking_battle_title,
.singking_grow_title,
.singking_ability_title,
.weekly_ranking_title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #737373;
  /*color: #4A4A4A;*/
  margin-left: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.battle_component {
  width: 500px;
  height: 130px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border: 2px solid #bfcfec;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

.battle_component:hover {
  transform: translateY(-5px);
}

.battle_text {
  margin-left: 60px;
}

.battle_text_1 {
  font-size: 25px;
  font-weight: bold;
  color: #525252;
}

.battle_text_2 {
  font-size: 15px;
  color: #868686;
  margin-top: -15px;
}

.battle_component img {
  width: 200px;
  height: 90px;
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grow_component {
  display: flex;
  margin-bottom: 30px;
}

.grow_component_1 {
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 12px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  border: 2px solid #bfcfec;
  transition: box-shadow 0.3s ease-in-out;
  padding-top: 20px;
}

.grow_component_1:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.key_score,
.beat_score,
.pronun_score {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  line-height: 80px;
  margin: 10px auto;
  color: rgb(0, 0, 0);
  font-size: 20px;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.grow_component_1 img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.ability_component {
  width: 500px;
  height: 400px;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 6px 12px rgba(228, 225, 225, 0.05);
  border: 2px solid #bfcfec;
}

.ability_title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #525252;
  margin-bottom: 50px;
}

.weekly_ranking_component {
  width: 500px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  border: 2px solid #bfcfec;
}

/* Progress comparison container */
.progress-comparison {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* 가운데 제목 스타일 */
.progress-title {
  font-size: 18px;
  font-weight: bold;
  color: #525252;
  width: 80px;
  text-align: center;
}

/* 좌우 퍼센트 바 스타일 */
.progress-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}

.progress-track {
  width: 100%;
  background-color: #e0e0e0;
  height: 15px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 5px;
}

.progress-last-week {
  height: 100%;
  background-color: #b0c4de; /* 7일 전 기록의 색상 */
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.progress-latest {
  height: 100%;
  background-color: #4682b4; /* 최신 기록의 색상 */
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

span {
  font-size: 14px;
  color: #737373;
}

/* 좌우 레이아웃 정렬 */
.last-week {
  text-align: right;
}

.latest {
  text-align: left;
}

/* 1등 항목에 대한 스타일 */
.ranking_item:first-child {
  font-size: 20px; /* 더 큰 글씨 */

  padding: 15px;
  border-bottom: 1px solid #b1b1b1;
  height: 60px;
}

.ranking_container {
  width: 100%;
}

.ranking_item {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 10px;
  margin-bottom: 10px;
  height: 40px;
  gap: 20px; /* 항목 간의 간격 */
}
.rank {
  font-weight: bold;
  color: #525252;
  font-size: 18px;
  flex: 0 0 50px; /* 고정 너비 */
  text-align: center; /* 중앙 정렬 */
}

.user_name {
  font-size: 20px;
  color: #333;
  flex: 1; /* 가변 너비로 설정 */
  text-align: center; /* 중앙 정렬 */
  overflow: hidden;
  text-overflow: ellipsis; /* 글자가 너무 길면 ...으로 표시 */
}

.score {
  font-size: 16px;
  color: #525252;
  font-weight: bold;
  flex: 0 0 60px; /* 고정 너비 */
  text-align: center; /* 중앙 정렬 */
}
