.immediate_feedback_analyze {
    margin: 0;
    padding: 0;
    background-color: #EDF2FB;
}

.song_container {
    background-color: #9CB6E5; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.song_info_container {
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    justify-content:center;
}

.song_img img {
    width: 50px;
    height: 50px;
    border-radius:5px;
    
}

.song_name {
    margin-left:15px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.song_artist {
    font-weight:bold;
    font-size: 20px;
    margin-left:15px;
    margin-top:25px;
}

.song_lyrics_container{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
}


.btn_container {
    display: flex;
    justify-content: center;
}

.playbtn_container {
    margin-right: 30px;    
}

.stopbtn_container {
    margin-right: 30px;    
}

.btn_container img {
    width: 50px;
    height: 50px;
}



